@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

body::-webkit-scrollbar{
    width: 0px;
}

body {
    background-color: #6BC7E2;
    height: 100vh;
       
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}







.fundo-nuvens {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media (max-width : 480px){
    body, .fundo-nuvens{
        min-height: 38vh;
    }
}
@media (max-width : 438px){
    body, .fundo-nuvens{
        min-height: 36vh;
    }
}

@media (max-width : 415px){
    body, .fundo-nuvens{
        min-height: 35vh;
    }
}

@media (max-width : 400px){
    body, .fundo-nuvens{
        min-height: 33vh;
    }
}

@media (max-width : 380px){
    body, .fundo-nuvens{
        min-height: 30vh;
    }
}
@media (max-width : 340px){
    body, .fundo-nuvens{
        min-height: 27vh;
    }
}

@media (max-width : 320px){
    body, .fundo-nuvens{
        min-height: 26vh;
    }
}
@media (max-width : 300px){
    body, .fundo-nuvens{
        min-height: 24vh;
    }
}



.fundo-nuvens img {
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    
    pointer-events: none;
    
}

.conteudo {
    position: relative;
    background-color: #ffffff;
    padding: 150px;
    
}


.texto p {
    font-size: 2em;
    color:black;
    
}


