@import@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

body::-webkit-scrollbar{
    width: 0px;
}

body {
    background-color:#ffffff;
    height: 100vh;
       
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}



.fundo-nuvens {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6BC7E2;
}




.fundo-nuvens img {
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    
    pointer-events: none;
    
}

.conteudo {
    position: relative;
    background-color: #ffffff;
    padding: 200px;
    
    
}


.conteudo p {
    font-size: 1em;
    color:black;
    text-indent: 2em;
    font-weight: 600;
    line-height:30px;
    
}

@media (max-width : 1025px) {
    .conteudo {
        padding: 30px;
    }
} 


.img-polaroid {
    width: 30%;
    pointer-events: none;
    padding: 10px;
    
}

#maria-polaroid1, #maria-polaroid3 {
    float: right;
}

#maria-polaroid2 {
    float: left;
    
}


@media screen and (max-width:1441px){
    .fundo-nuvens {
        min-height:76vh;
    }
}

@media screen and (max-width:1281px) and (max-height: 951px) {
    .fundo-nuvens {
        min-height: 64vh;
    }
}

@media screen and (max-width:1281px) and (max-height: 805px) {
    .fundo-nuvens {
        min-height: 78vh;
    }
}


@media screen and (max-width:1025px) and (max-height: 1370px) {
    .fundo-nuvens {
        min-height: 35vh;
    }
}

@media screen and (max-width:1025px) and (max-height: 801px) {
    .fundo-nuvens {
        min-height: 61vh;
    }
}

@media screen and (max-width:801px) and (max-height: 1281px) {
    .fundo-nuvens {
        min-height: 29vh;
    }
}

@media screen and (max-width:770px) and (max-height: 1025px) {
    .fundo-nuvens {
        min-height: 35vh;
    }
}

@media screen and (max-width:690px) and (max-height: 1032px) {
    .fundo-nuvens {
        min-height: 31vh;
    }
}

@media screen and (max-width:601px) and (max-height: 961px) {
    .fundo-nuvens {
        min-height: 29vh;
    }
}

@media screen and (max-width:415px) and (max-height: 900px) {
    .fundo-nuvens {
        min-height: 21vh;
    }
}

@media screen and (max-width:415px) and (max-height: 850px) {
    .fundo-nuvens {
        min-height: 26vh;
    }
}


@media screen and (max-width:415px) and (max-height: 847px) {
    .fundo-nuvens {
        min-height: 24vh;
    }
}

@media screen and (max-width:415px) and (max-height: 737px) {
    .fundo-nuvens {
        min-height: 26vh;
    }
}

@media screen and (max-width:412px) and (max-height: 825px) {
    .fundo-nuvens {
        min-height: 23vh;
    }
}

@media screen and (max-width:413px) and (max-height: 847px) {
    .fundo-nuvens {
        min-height: 22vh;
    }
}

@media screen and (max-width:413px) and (max-height: 733px) {
    .fundo-nuvens {
        min-height: 26vh;
    }
}

@media screen and (max-width:394px) and (max-height: 787px) {
    .fundo-nuvens {
        min-height: 23vh;
    }
}

@media screen and (max-width:385px) and (max-height: 641px) {
    .fundo-nuvens {
        min-height: 28vh;
    }
}

@media screen and (max-width:380px) and (max-height: 670px) {
    .fundo-nuvens {
        min-height: 26vh;
    }
}

@media screen and (max-width:376px) and (max-height: 813px) {
    .fundo-nuvens {
        min-height: 21vh;
    }
}

@media screen and (max-width:376px) and (max-height: 668px) {
    .fundo-nuvens {
        min-height: 26vh;
    }
}

@media screen and (max-width:361px) and (max-height: 741px) {
    .fundo-nuvens {
        min-height: 23vh;
    }
}

@media screen and (max-width:361px) and (max-height: 641px) {
    .fundo-nuvens {
        min-height: 26vh;
    }
}

@media screen and (max-width:241px) and (max-height: 321px) {
    .fundo-nuvens {
        min-height: 35vh;
    }
}
}

.conteudo {
    position: relative;
    background-color: #ffffff;
    padding: 200px;
    
    
}


.conteudo p {
    font-size: 1em;
    color:black;
    text-indent: 2em;
    font-weight: 600;
    line-height:30px;
    
}

@media (max-width : 1025px) {
    .conteudo {
        padding: 30px;
    }
} 


.img-polaroid {
    width: 30%;
    pointer-events: none;
    padding: 10px;
    
}

#maria-polaroid1, #maria-polaroid3 {
    float: right;
}

#maria-polaroid2 {
    float: left;
    
}



