@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

body::-webkit-scrollbar{
    width: 0px;
}

body {
    background-color: #6BC7E2;
    height: 100vh;
       
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}







.fundo-nuvens {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media (max-width:900px){
    body, .fundo-nuvens{
        min-height: 48vmax;
    }
}
@media (max-width:700px){
    body, .fundo-nuvens{
        min-height: 42vmax;
    }
}

@media (max-width:500px){
    body, .fundo-nuvens{
        min-height: 30vmax;
    }
}
@media (max-width:450px){
    body, .fundo-nuvens{
        min-height: 25vh;
    }
}
@media (max-width:400px){
    body, .fundo-nuvens{
        min-height: 23vh;
    }
}

@media (max-width:350px){
    body, .fundo-nuvens{
        min-height: 20vh;
    }
}




.fundo-nuvens img {
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    
    pointer-events: none;
    
}

.conteudo {
    position: relative;
    background-color: #ffffff;
    padding: 150px;
    
}


.texto p {
    font-size: 2em;
    color:black;
    
}


