@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

body::-webkit-scrollbar{
    width: 0px;
}

body {
    background-color:#ffffff;
    height: 100vh;
       
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}



.fundo-nuvens {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6BC7E2;
}




.fundo-nuvens img {
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    
    pointer-events: none;
    
}

.conteudo {
    position: relative;
    background-color: #ffffff;
    padding: 200px;
    
    
}


.conteudo p {
    font-size: 1em;
    color:black;
    text-indent: 2em;
    font-weight: 600;
    line-height:30px;
    
}

@media (max-width : 1025px) {
    .conteudo {
        padding: 30px;
    }
} 


.img-polaroid {
    width: 30%;
    pointer-events: none;
    padding: 10px;
    
}

#maria-polaroid1, #maria-polaroid3 {
    float: right;
}

#maria-polaroid2 {
    float: left;
    
}



